In [27]:
import pandas as pd

In [28]:
UsaCdf=pd.read_csv("USA_cars_datasets.csv")

In [29]:
UsaCdf.columns

Index(['Unnamed: 0', 'price', 'brand', 'model', 'year', 'title_status',
       'mileage', 'color', 'vin', 'lot', 'state', 'country', 'condition'],
      dtype='object')

In [30]:
UsaCdf=UsaCdf.drop('Unnamed: 0',axis=1)

In [31]:
UsaCdf.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [32]:
UsaCdf.shape

(2499, 12)

In [33]:
UsaCdf.head()

,price,brand,model,year,title_status,mileage,color,vin,lot,state,country,condition
0,6300,toyota,cruiser,2008,clean vehicle,274117.0,black,jtezu11f88k007763,159348797,new jersey,usa,10 days left
1,2899,ford,se,2011,clean vehicle,190552.0,silver,2fmdk3gc4bbb02217,166951262,tennessee,usa,6 days left
2,5350,dodge,mpv,2018,clean vehicle,39590.0,silver,3c4pdcgg5jt346413,167655728,georgia,usa,2 days left
3,25000,ford,door,2014,clean vehicle,64146.0,blue,1ftfw1et4efc23745,167753855,virginia,usa,22 hours left
4,27700,chevrolet,1500,2018,clean vehicle,6654.0,red,3gcpcrec2jg473991,167763266,florida,usa,22 hours left

In [34]:
UsaCdf['brand'].unique()

array(['toyota', 'ford', 'dodge', 'chevrolet', 'gmc', 'chrysler', 'kia',
       'buick', 'infiniti', 'mercedes-benz', 'jeep', 'bmw', 'cadillac',
       'hyundai', 'mazda', 'honda', 'heartland', 'jaguar', 'acura',
       'harley-davidson', 'audi', 'lincoln', 'lexus', 'nissan', 'land',
       'maserati', 'peterbilt', 'ram'], dtype=object)

## An index are necessary for creating a Simple pivot table. Let’s use the brand as our index.

The Numerical values are automatically filled while the non-numerical values are omitted. 
Each cell is the averages/mean of the car’s Price,iot,Mileage,year. The default aggfunc is mean.

In [38]:
pd.pivot_table(UsaCdf,index='brand')

                          lot        mileage         price         year
brand
acura            1.675093e+08  120379.666667   7266.666667  2010.333333
audi             1.674892e+08  118091.000000  13981.250000  2011.250000
bmw              1.677167e+08   47846.411765  26397.058824  2014.470588
buick            1.677610e+08   37926.846154  19715.769231  2016.000000
cadillac         1.677568e+08   40195.900000  24941.000000  2014.900000
chevrolet        1.677652e+08   65124.461279  18669.952862  2015.616162
chrysler         1.677230e+08   73004.000000  13686.111111  2014.777778
dodge            1.676984e+08   44184.863426  17781.988426  2017.291667
ford             1.677053e+08   52084.304453  21666.888259  2016.762753
gmc              1.676485e+08   58548.738095  10657.380952  2014.904762
harley-davidson  1.677034e+08    9502.000000  54680.000000  2016.000000
heartland        1.672662e+08       1.000000   2966.000000  2012.000000
honda            1.676470e+08   91599.000000   6127.500000  2014.333333
hyundai          1.675864e+08   56683.866667   5203.200000  2017.400000
infiniti         1.675599e+08   25023.166667  13098.333333  2018.750000
jaguar           1.676987e+08   20849.000000   2800.000000  2019.000000
jeep             1.675521e+08   38723.266667  10933.833333  2017.400000
kia              1.674973e+08   56609.461538  11123.846154  2016.461538
land             1.672671e+08   26613.750000  28900.000000  2018.000000
lexus            1.676492e+08   22391.000000  33220.000000  2018.500000
lincoln          1.671533e+08   52123.000000  18150.000000  2012.000000
maserati         1.676078e+08   37021.000000  30300.000000  2017.000000
mazda            1.675759e+08   82647.000000   8000.000000  2012.500000
mercedes-benz    1.675191e+08   54597.000000  28704.000000  2016.900000
nissan           1.676430e+08   42426.230769  12065.820513  2017.586538
peterbilt        1.675298e+08  725615.750000    400.000000  2010.750000
ram              1.676685e+08   30421.000000  11050.000000  2017.000000
toyota           1.593488e+08  274117.000000   6300.000000  2008.000000

## Creating Multiple indexes and specify its value and aggfunc.

In [45]:
pd.pivot_table(data=UsaCdf,index=['brand','color'],values=['mileage','price'],aggfunc='mean').head(10)

                      mileage         price
brand color
acura black     179389.000000   3900.000000
      gray      118250.000000   1000.000000
      silver     63500.000000  16900.000000
audi  black     135510.333333  12141.666667
      blue       65833.000000  19500.000000
bmw   black      31453.000000  37325.000000
      blue       29621.200000  35860.000000
      gray       86601.000000  17675.000000
      no_color   24293.000000  29700.000000
      silver     44730.000000  15000.000000

In [46]:
pd.pivot_table(data=UsaCdf,index=['year','brand','color'],values=['mileage','price'],aggfunc='sum').head(20)

                            mileage  price
year brand     color
1973 chevrolet red          46226.0  29800
1984 ford      white        41577.0     25
1993 gmc       light blue       0.0      0
1994 ford      green            0.0      0
               white       206162.0     25
1995 chevrolet green       274706.0      0
1996 ford      green       296860.0      0
               red         252588.0      0
1997 ford      green       350209.0      0
1998 chevrolet gray        258631.0      0
     ford      blue        186855.0      0
               brown       300021.0     25
               white       131367.0      0
1999 jeep      black       226972.0     25
2000 bmw       gray        216657.0      0
     cadillac  white       105169.0      0
     chrysler  red         231240.0    175
     ford      black       124969.0      0
2001 chevrolet red         149543.0   1200
     dodge     white       109360.0   5000

## Advanced filtering

In [51]:
import numpy as np

pd_table=pd.pivot_table(data=UsaCdf,
                       index=['brand','color','year'],
                        values=['price','mileage'],
                        aggfunc={'price':[np.sum,np.mean],'mileage':np.mean})

In [56]:
pd_table.query('color=="black"')

                                  mileage         price
                                     mean          mean       sum
brand           color year
acura           black 2009  179389.000000   3900.000000    3900.0
audi            black 2005  181896.000000      0.000000       0.0
                      2008  177422.000000     25.000000      25.0
                      2015   47213.000000  36400.000000   36400.0
bmw             black 2016   33110.000000  39000.000000   39000.0
                      2017   42596.500000  24550.000000   49100.0
                      2020    7509.000000  61200.000000   61200.0
buick           black 2017   60171.000000  13200.000000   13200.0
cadillac        black 2017   26562.000000  47500.000000   47500.0
                      2019   16013.000000  37500.000000   37500.0
chevrolet       black 2004  308451.000000   2725.000000    2725.0
                      2007  267834.000000     25.000000      25.0
                      2009  117059.000000      0.000000       0.0
                      2010  149050.000000   7300.000000    7300.0
                      2011   89100.666667   4846.666667   14540.0
                      2013   68367.000000   8633.333333   25900.0
                      2014  102500.000000   4200.000000    4200.0
                      2015   64563.250000  25175.000000  100700.0
                      2016   46434.800000  29160.600000  145803.0
                      2017   52090.062500  18795.187500  300723.0
                      2018   40876.857143  30085.714286  210600.0
                      2019   28739.111111  25677.777778  231100.0
                      2020   11404.500000   8662.500000   17325.0
chrysler        black 2015   88227.000000   7350.000000    7350.0
dodge           black 2002  185460.000000   1400.000000    1400.0
                      2011   35275.000000  15600.000000   15600.0
                      2012   41189.500000  22250.000000   44500.0
                      2013   96642.500000   7400.000000   14800.0
                      2014   75518.666667  16281.666667   48845.0
                      2015   56359.500000  15242.500000   60970.0
...                                   ...           ...       ...
ford            black 2020    9519.250000  20100.000000   80400.0
gmc             black 2009  169634.000000   1025.000000    1025.0
                      2012  140339.000000   5000.000000    5000.0
                      2017   41967.888889   9115.555556   82040.0
                      2018   27442.000000    500.000000     500.0
                      2019   16223.000000  37250.000000   74500.0
harley-davidson black 2016    9502.000000  54680.000000   54680.0
honda           black 2016   71404.000000   4950.000000    4950.0
                      2017   16702.000000   5420.000000    5420.0
infiniti        black 2019   21380.000000  12575.000000   25150.0
jaguar          black 2019   20849.000000   2800.000000    2800.0
jeep            black 1999  226972.000000     25.000000      25.0
                      2019   11111.500000   8955.000000   17910.0
kia             black 2016   39408.000000   3810.000000    3810.0
                      2017   53424.000000  14000.000000   14000.0
                      2018   38823.000000   7300.000000    7300.0
land            black 2018   26613.750000  28900.000000  115600.0
lexus           black 2017   36596.000000  10840.000000   10840.0
lincoln         black 2019   14541.000000  36300.000000   36300.0
maserati        black 2017   37021.000000  30300.000000   30300.0
mercedes-benz   black 2015   82411.000000  18000.000000   18000.0
nissan          black 2012  150373.000000   3181.000000   15905.0
                      2013   98384.000000   1500.000000    1500.0
                      2015   66736.333333   4233.333333   12700.0
                      2016   40408.000000   9850.000000   39400.0
                      2017   38699.200000   9702.000000   48510.0
                      2018   36857.950000  12539.375000  501575.0
                      2019   27995.100000  15420.000000  308400.0
                      2020   12571.500000  19250.000000  115500.0
toyota          black 2008  274117.000000   6300.000000    6300.0

[76 rows x 3 columns]